body{
	background-color:lightgrey;
}
h1{
	background-color:blue;
	color:white;
	text-align:center;
	 border-bottom-right-radius: 25px;
	 border-bottom-left-radius: 25px;
	 height:5%;
}
.one{
	background-color:white;
	width:20%;
	height:70%;
	padding-top:4%;
	padding-left:2%;
	border-radius:15%;
	font-size:20px;
	border-bottom-width:50%;
	font-style:italic;
}
img{
	width:50%;
	height:35%;
	padding-bottom:3%;
}
button{
	border-radius:5px;
	color:white;
	background-color:green;
	height:30px;
	width:30%;
}
footer{
	font-size:200%;
}